<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">

	<ui:define name="titre">
		Ajouter livre
	</ui:define>


	<ui:define name="content">

		<h:form id="addemp1">
<h:messages />
			<h:panelGrid columns="2">

				<h:outputLabel value="Description " />
				<h:inputTextarea value="#{bookBean.book.description}" 
					required="true" requiredMessage="Champ obligatoire"/>

				<h:outputLabel value="nbrs pages " />
				<h:inputText value="#{bookBean.book.nbrOfpages}">
				</h:inputText>

				<h:outputLabel value="Ullistration " />
				<h:selectBooleanCheckbox value="#{bookBean.book.illustrations}"/>
				
				
				<h:commandButton action="#{bookBean.next1()}"
					value="next" />
				<h:commandButton action="#{bookBean.back1()}"
					value="back" />

			</h:panelGrid>
		</h:form>
		
	<br/><br/><br/>
	<h:link outcome="/pages/welcome" value="Page d'acceuil"/>
	<br/>
	</ui:define>

</ui:composition>
